openapi: 3.0.0
info:
  title: さくらのVPS APIドキュメント
  version: 4.3.0
  x-logo:
    url: logo.svg
    altText: さくらのVPS APIドキュメント
servers:
- url: https://secure.sakura.ad.jp/vps/api/v7
security:
- ApiKeyAuth: []
paths:
  /servers:
    get:
      operationId: get-server-list
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: idで絞り込む。カンマ区切りで100件まで指定可能。
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: |-
          switchのid
          対象のスイッチに接続されているサーバーに絞り込む
        explode: true
        in: query
        name: switch
        required: false
        schema:
          type: integer
        style: form
      - description: |-
          ゾーンコードで絞り込む
          * tk1 東京第1
          * tk2 東京第2
          * tk3 東京第3
          * os1 大阪第1
          * os2 大阪第2
          * os3 大阪第3
          * is1 石狩第1
        explode: true
        in: query
        name: zone_code
        required: false
        schema:
          enum:
          - tk1
          - tk2
          - tk3
          - os1
          - os2
          - os3
          - is1
          type: string
        style: form
      - description: サービスタイプで絞り込む
        explode: true
        in: query
        name: service_type
        required: false
        schema:
          enum:
          - linux
          - windows
          type: string
        style: form
      - description: IPアドレスで絞り込む
        explode: true
        in: query
        name: ipv4_address
        required: false
        schema:
          example: 192.0.2.0
          type: string
        style: form
      - description: サーバー監視リソースIDで絞り込む
        explode: true
        in: query
        name: monitoring_resource_id
        required: false
        schema:
          type: string
        style: form
      - description: "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* サービスコード昇順: sort=service_code\n\
          * サービスコード降順: sort=-service_code"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - service_code
          - -service_code
          - name
          - -name
          - storage_size_gibibytes
          - -storage_size_gibibytes
          - memory_mebibytes
          - -memory_mebibytes
          - cpu_cores
          - -cpu_cores
          - hostname
          - -hostname
          - ipv6_hostname
          - -ipv6_hostname
          - ipv4_address
          - -ipv4_address
          - ipv6_address
          - -ipv6_address
          - zone_code
          - -zone_code
          - ipv4_ptr
          - -ipv4_ptr
          - ipv6_ptr
          - -ipv6_ptr
          type: string
        style: form
      - description: 名前、説明文、ホスト名、ipv4アドレス、ipv6アドレス、サービスコードから部分一致検索
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_200_response'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: サーバー情報一覧を取得する
      tags:
      - server
  /servers/{server_id}:
    get:
      operationId: get-server
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: サーバー情報を取得する
      tags:
      - server
    put:
      operationId: put-server
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_server_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Server'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: サーバー情報を更新する
      tags:
      - server
  /servers/{server_id}/power-status:
    get:
      operationId: get-server-power-status
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerPowerStatus'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: ホストから電源状態が取得できない
      summary: サーバーの電源状態を取得する
      tags:
      - server
  /servers/{server_id}/power-on:
    post:
      operationId: post-server-power-on
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "202":
          description: サーバー起動コマンドの送信を完了
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: 電源操作が行えない状態（スケールアップ中など）
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: ホストが電源操作を受け付けない
      summary: サーバーを起動する
      tags:
      - server
  /servers/{server_id}/shutdown:
    post:
      operationId: post-server-shutdown
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_server_shutdown_request'
      responses:
        "202":
          description: シャットダウンコマンドの送信を完了
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: 電源操作が行えない状態（スケールアップ中など）
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: ホストが電源操作を受け付けない
      summary: サーバーをシャットダウンする
      tags:
      - server
  /servers/{server_id}/force-reboot:
    post:
      operationId: post-server-force-reboot
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "202":
          description: 強制再起動コマンドの送信を完了
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: 電源操作が行えない状態（スケールアップ中など）
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: ホストが電源操作を受け付けない
      summary: サーバーを強制再起動する
      tags:
      - server
  /servers/{server_id}/mount-disc:
    post:
      operationId: post-server-mount-disc
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_server_mount_disc_request'
      responses:
        "200":
          description: マウント完了
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: ディスク操作が行えない状態（電源がOFFなど）
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: ホストがディスク操作を受け付けない
      summary: サーバーにディスクをマウントする
      tags:
      - server
  /servers/{server_id}/vnc-console-keymap:
    get:
      operationId: get-server-vnc-console-keymap
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Keymap'
          description: 取得完了
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: コンパネのVNCコンソールのキーマップ情報を取得する
      tags:
      - server
    put:
      operationId: put-server-vnc-console-keymap
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Keymap'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Keymap'
          description: 成功。サーバーの再起動をすることで設定が反映される
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: ホストがキーマップ操作を受け付けない
      summary: コンパネのVNCコンソールのキーマップ情報を変更する
      tags:
      - server
  /servers/{server_id}/ipv4-ptr:
    put:
      operationId: put-server-ipv4-ptr
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_server_ipv4_ptr_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/put_server_ipv4_ptr_200_response'
          description: 設定完了
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: DNSの情報取得または設定に失敗した
      summary: サーバーのipv4の逆引きホスト名を更新する
      tags:
      - server
  /servers/{server_id}/interfaces:
    get:
      operationId: get-server-interface-list
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_interface_list_200_response'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: サーバーのインターフェース情報一覧を取得する
      tags:
      - server
  /servers/{server_id}/interfaces/{interface_id}:
    get:
      operationId: get-server-interface
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      - description: サーバーインターフェースID
        explode: false
        in: path
        name: interface_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerInterface'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: インターフェースが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: サーバーのインターフェース情報を取得する
      tags:
      - server
    put:
      operationId: put-server-interface
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      - description: サーバーインターフェースID
        explode: false
        in: path
        name: interface_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerInterface'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerInterface'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: インターフェースが見つからない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: 接続が行えない状態
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: 一時的に接続操作を受け付けない
      summary: サーバーのインターフェース情報を更新する
      tags:
      - server
  /servers/{server_id}/ipv6-ptr:
    put:
      operationId: put-server-ipv6-ptr
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_server_ipv4_ptr_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/put_server_ipv4_ptr_200_response'
          description: 設定完了
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: DNSの情報取得または設定に失敗した
      summary: サーバーのipv6の逆引きホスト名を更新する
      tags:
      - server
  /servers/{server_id}/video-device:
    get:
      operationId: get-server-video-device
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_video_device_200_response'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: ビデオデバイス情報の取得に失敗した
      summary: サーバーのビデオデバイスの設定を取得する
      tags:
      - server
    put:
      operationId: put-server-video-device
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_server_video_device_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/put_server_video_device_request'
          description: 成功。サーバーの再起動をすることで設定が反映される
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: ビデオデバイス情報の設定に失敗した
      summary: サーバーのビデオデバイスの設定を更新する
      tags:
      - server
  /servers/{server_id}/limitation:
    get:
      operationId: get-server-limitation
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Limitation'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: サーバーの制限情報の取得に失敗した
      summary: サーバーの制限情報を取得する
      tags:
      - server
  /servers/{server_id}/monitorings:
    get:
      operationId: get-server-monitoring-list
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      - description: サーバー監視リソースIDで絞り込む
        explode: true
        in: query
        name: monitoring_resource_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_monitoring_list_200_response'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: サーバーのサーバー監視情報一覧を取得する
      tags:
      - server
    post:
      operationId: post-server-monitoring
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerMonitoring'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerMonitoring'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: サーバー監視を作成できない状態（作成上限数超過など）
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: サーバーのサーバー監視を作成する
      tags:
      - server
  /servers/{server_id}/monitorings/{server_monitoring_id}:
    delete:
      operationId: delete-server-monitorings
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      - description: サーバー監視ID
        explode: false
        in: path
        name: server_monitoring_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーまたはサーバー監視が見つからない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: サーバー監視を削除できない状態（更新ステータスが更新完了でないなど）
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: サーバーのサーバー監視情報を削除する
      tags:
      - server
    get:
      operationId: get-server-monitoring
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      - description: サーバー監視ID
        explode: false
        in: path
        name: server_monitoring_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerMonitoring'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーまたはサーバー監視が見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: サーバーのサーバー監視情報を取得する
      tags:
      - server
    put:
      operationId: put-server-monitoring
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      - description: サーバー監視ID
        explode: false
        in: path
        name: server_monitoring_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerMonitoring'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerMonitoring'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: サーバー監視を更新できない状態（更新ステータスが更新完了でないなど）
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: サーバーのサーバー監視情報を更新する
      tags:
      - server
  /servers/{server_id}/monitorings/{server_monitoring_id}/health:
    get:
      operationId: get-server-monitoring-health
      parameters:
      - description: サーバーID
        explode: false
        in: path
        name: server_id
        required: true
        schema:
          type: integer
        style: simple
      - description: サーバー監視ID
        explode: false
        in: path
        name: server_monitoring_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerMonitoringHealth'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーまたはサーバー監視が見つからない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: 監視状態を取得できない状態（更新ステータスが更新完了でないなど）
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: サーバー監視の監視状態を取得する
      tags:
      - server
  /nfs-servers:
    get:
      operationId: get-nfs-server-list
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: idで絞り込む。カンマ区切りで100件まで指定可能。
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: |-
          switchのid
          対象のスイッチに接続されているサーバーに絞り込む
        explode: true
        in: query
        name: switch
        required: false
        schema:
          type: integer
        style: form
      - description: |-
          ゾーンコードで絞り込む
          * tk1 東京第1
          * tk2 東京第2
          * tk3 東京第3
          * os1 大阪第1
          * os2 大阪第2
          * os3 大阪第3
          * is1 石狩第1
        explode: true
        in: query
        name: zone_code
        required: false
        schema:
          enum:
          - tk1
          - tk2
          - tk3
          - os1
          - os2
          - os3
          - is1
          type: string
        style: form
      - description: "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* サービスコード昇順: sort=service_code\n\
          * サービスコード降順: sort=-service_code"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - service_code
          - -service_code
          - name
          - -name
          - storage_size_gibibytes
          - -storage_size_gibibytes
          - ipv4_address
          - -ipv4_address
          - zone_code
          - -zone_code
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_nfs_server_list_200_response'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: NFS情報一覧を取得する
      tags:
      - nfs-server
  /nfs-servers/{nfs_server_id}:
    get:
      operationId: get-nfs-server
      parameters:
      - description: NFSのID
        explode: false
        in: path
        name: nfs_server_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NfsServer'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: NFSが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: NFS情報を取得する
      tags:
      - nfs-server
    put:
      operationId: put-nfs-server
      parameters:
      - description: NFSのID
        explode: false
        in: path
        name: nfs_server_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/put_server_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NfsServer'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: NFSが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: NFS情報を更新する
      tags:
      - nfs-server
  /nfs-servers/{nfs_server_id}/change-ipv4:
    post:
      operationId: post-nfs-server-change-ipv4
      parameters:
      - description: NFSのID
        explode: false
        in: path
        name: nfs_server_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_nfs_server_change_ipv4_request'
      responses:
        "202":
          description: ipv4の設定のリクエストの送信を完了
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: NFSが見つからない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: ipv4の設定が行えない状態にある（すでにipv4の設定中である場合やNFSが起動されていない場合など）
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: ipv4の設定のリクエストの送信に失敗した
      summary: NFSのipv4を更新する
      tags:
      - nfs-server
  /nfs-servers/{nfs_server_id}/power-status:
    get:
      operationId: get-nfs-server-power-status
      parameters:
      - description: NFSのID
        explode: false
        in: path
        name: nfs_server_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NfsServerPowerStatus'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: サーバーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: 電源状態が取得できない
      summary: NFSの電源状態を取得する
      tags:
      - nfs-server
  /nfs-servers/{nfs_server_id}/interface:
    get:
      operationId: get-nfs-server-interface
      parameters:
      - description: NFSのID
        explode: false
        in: path
        name: nfs_server_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NfsServerInterface'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: NFSが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: NFSのインターフェースを取得する
      tags:
      - nfs-server
    put:
      operationId: put-nfs-server-interface
      parameters:
      - description: NFSのID
        explode: false
        in: path
        name: nfs_server_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NfsServerInterface'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NfsServerInterface'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: NFSが見つからない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: 接続が行えない状態（電源がオフになっていない）
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
        "503":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails503'
          description: 一時的に接続操作を受け付けない
      summary: NFSのインターフェース情報を更新する
      tags:
      - nfs-server
  /switches:
    get:
      operationId: get-switch-list
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 10
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: idで絞り込む。カンマ区切りで100件まで指定可能。
        explode: true
        in: query
        name: id
        required: false
        schema:
          type: string
        style: form
      - description: |-
          ゾーンコードで絞り込む
          * tk1 東京第1
          * tk2 東京第2
          * tk3 東京第3
          * os1 大阪第1
          * os2 大阪第2
          * os3 大阪第3
          * is1 石狩第1
        explode: true
        in: query
        name: zone_code
        required: false
        schema:
          enum:
          - tk1
          - tk2
          - tk3
          - os1
          - os2
          - os3
          - is1
          type: string
        style: form
      - description: |-
          interfaceのid
          対象のインターフェースに接続されているスイッチに絞り込む
        explode: true
        in: query
        name: interface
        required: false
        schema:
          type: integer
        style: form
      - description: "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* 接続インターフェース数昇順: sort=interfaces_count\n\
          * 接続インターフェース数降順: sort=-interfaces_count"
        explode: true
        in: query
        name: sort
        required: false
        schema:
          enum:
          - name
          - -name
          - zone
          - -zone
          - interfaces_count
          - -interfaces_count
          type: string
        style: form
      - description: 名前と説明文から部分一致検索
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_switch_list_200_response'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: スイッチ情報一覧を取得する
      tags:
      - switch
    post:
      description: 同一ゾーン内で作成可能なスイッチ数は最大20です
      operationId: post-switch
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/post_switch_request'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/post_switch_201_response'
          description: 作成完了
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: 作成上限に達している
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: スイッチを作成する
      tags:
      - switch
  /switches/{switch_id}:
    delete:
      operationId: delete-switch
      parameters:
      - description: スイッチID
        explode: false
        in: path
        name: switch_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: スイッチが見つからない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: 削除が行えない状態（接続が残っている）
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: スイッチを削除する
      tags:
      - switch
    get:
      operationId: get-switch
      parameters:
      - description: スイッチID
        explode: false
        in: path
        name: switch_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Switch'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: スイッチが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: スイッチ情報を取得する
      tags:
      - switch
    put:
      operationId: put-switch
      parameters:
      - description: スイッチID
        explode: false
        in: path
        name: switch_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Switch'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Switch'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: スイッチが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: スイッチ情報を更新する
      tags:
      - switch
  /discs:
    get:
      description: 追加ソフトウェアのディスク情報です。WindowsのCDドライブにマウントして利用します。
      operationId: get-disc-list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_disc_list_200_response'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: ディスク情報一覧を取得する
      tags:
      - disc
  /zones:
    get:
      operationId: get-zone-list
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_zone_list_200_response'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: ゾーン情報一覧を取得する
      tags:
      - zone
  /api-keys:
    get:
      operationId: get-api-key-list
      parameters:
      - description: "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* 名称昇順: sort=name\n* 名称\
          降順: sort=-name"
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - id
          - -id
          - name
          - -name
          type: string
        style: form
      - description: roleのid。ロールで絞り込む
        explode: true
        in: query
        name: role
        required: false
        schema:
          type: integer
        style: form
      - description: 名前から部分一致検索
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_api_key_list_200_response'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: APIキーの一覧を取得する
      tags:
      - api-key
    post:
      operationId: post-api-key
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: APIキーを作成できない状態。上限を超えているなど。
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: APIキーを作成する
      tags:
      - api-key
  /api-keys/{api_key_id}:
    delete:
      operationId: delete-api-key
      parameters:
      - description: APIキーID
        explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: APIキーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: APIキーを削除する
      tags:
      - api-key
    get:
      operationId: get-api-key
      parameters:
      - description: APIキーID
        explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: APIキーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: APIキーを取得する
      tags:
      - api-key
    put:
      operationId: put-api-key
      parameters:
      - description: APIキーID
        explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiKey'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: APIキーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: APIキーを更新する
      tags:
      - api-key
  /api-keys/{api_key_id}/rotate:
    post:
      operationId: post-api-key-rotate
      parameters:
      - description: APIキーID
        explode: false
        in: path
        name: api_key_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: APIキーが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: APIキーのトークンのローテーションを行う
      tags:
      - api-key
  /roles:
    get:
      operationId: get-role-list
      parameters:
      - description: "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* 名称昇順: sort=name\n* 名称\
          降順: sort=-name"
        explode: true
        in: query
        name: order
        required: false
        schema:
          enum:
          - id
          - -id
          - name
          - -name
          type: string
        style: form
      - description: 名前と説明文から部分一致検索
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_role_list_200_response'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: ロール一覧を取得する
      tags:
      - api-key
    post:
      operationId: post-role
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: ロールを作成できない状態。上限を超えているなど。
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: ロールを作成する
      tags:
      - api-key
  /roles/{role_id}:
    delete:
      operationId: delete-role
      parameters:
      - description: ロールID
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: ロールが見つからない
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails409'
          description: ロールを削除できない状態。紐づいているAPIキーがあるなど。
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: ロールを削除する
      tags:
      - api-key
    get:
      operationId: get-role
      parameters:
      - description: ロールID
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: ロールが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: ロールを取得する
      tags:
      - api-key
    put:
      operationId: put-role
      parameters:
      - description: ロールID
        explode: false
        in: path
        name: role_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Role'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
          description: 成功
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails400'
          description: 入力値検証エラー
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails404'
          description: ロールが見つからない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: ロールを更新する
      tags:
      - api-key
  /permissions:
    get:
      operationId: get-permission-list
      parameters:
      - description: カテゴリーで絞り込む
        example: server
        explode: true
        in: query
        name: category
        required: false
        schema:
          type: string
        style: form
      - description: コードで絞り込む。カンマ区切りで複数指定可能。
        example: "get-server-list,get-server,put-server"
        explode: true
        in: query
        name: code
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_permission_list_200_response'
          description: 成功
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_401_response'
          description: 未ログイン
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get_server_list_403_response'
          description: 権限がない
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails429'
          description: リクエスト可能数に達している
          headers:
            Retry-After:
              description: リクエストが可能になるまでの秒数
              explode: false
              schema:
                example: 60
                type: integer
              style: simple
      summary: 権限の一覧を取得する
      tags:
      - api-key
components:
  parameters:
    PaginationPage:
      explode: true
      in: query
      name: page
      required: false
      schema:
        type: integer
      style: form
    PaginationPerPage:
      explode: true
      in: query
      name: per_page
      required: false
      schema:
        default: 10
        maximum: 100
        minimum: 1
        type: integer
      style: form
    ServerID:
      description: サーバーID
      explode: false
      in: path
      name: server_id
      required: true
      schema:
        type: integer
      style: simple
    ServerInterfaceID:
      description: サーバーインターフェースID
      explode: false
      in: path
      name: interface_id
      required: true
      schema:
        type: integer
      style: simple
    ServerMonitoringID:
      description: サーバー監視ID
      explode: false
      in: path
      name: server_monitoring_id
      required: true
      schema:
        type: integer
      style: simple
    NfsServerID:
      description: NFSのID
      explode: false
      in: path
      name: nfs_server_id
      required: true
      schema:
        type: integer
      style: simple
    SwitchIDPath:
      description: スイッチID
      explode: false
      in: path
      name: switch_id
      required: true
      schema:
        type: integer
      style: simple
    SwitchID:
      description: |-
        switchのid
        対象のスイッチに接続されているサーバーに絞り込む
      explode: true
      in: query
      name: switch
      required: false
      schema:
        type: integer
      style: form
    InterfaceID:
      description: |-
        interfaceのid
        対象のインターフェースに接続されているスイッチに絞り込む
      explode: true
      in: query
      name: interface
      required: false
      schema:
        type: integer
      style: form
    ZoneCode:
      description: |-
        ゾーンコードで絞り込む
        * tk1 東京第1
        * tk2 東京第2
        * tk3 東京第3
        * os1 大阪第1
        * os2 大阪第2
        * os3 大阪第3
        * is1 石狩第1
      explode: true
      in: query
      name: zone_code
      required: false
      schema:
        enum:
        - tk1
        - tk2
        - tk3
        - os1
        - os2
        - os3
        - is1
        type: string
      style: form
    ServiceType:
      description: サービスタイプで絞り込む
      explode: true
      in: query
      name: service_type
      required: false
      schema:
        enum:
        - linux
        - windows
        type: string
      style: form
    Ipv4Address:
      description: IPアドレスで絞り込む
      explode: true
      in: query
      name: ipv4_address
      required: false
      schema:
        example: 192.0.2.0
        type: string
      style: form
    ServerSearch:
      description: 名前、説明文、ホスト名、ipv4アドレス、ipv6アドレス、サービスコードから部分一致検索
      explode: true
      in: query
      name: search
      required: false
      schema:
        type: string
      style: form
    MonitoringResourceId:
      description: サーバー監視リソースIDで絞り込む
      explode: true
      in: query
      name: monitoring_resource_id
      required: false
      schema:
        type: string
      style: form
    IDList:
      description: idで絞り込む。カンマ区切りで100件まで指定可能。
      explode: true
      in: query
      name: id
      required: false
      schema:
        type: string
      style: form
    ServerSortOrder:
      description: "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* サービスコード昇順: sort=service_code\n\
        * サービスコード降順: sort=-service_code"
      explode: true
      in: query
      name: sort
      required: false
      schema:
        enum:
        - service_code
        - -service_code
        - name
        - -name
        - storage_size_gibibytes
        - -storage_size_gibibytes
        - memory_mebibytes
        - -memory_mebibytes
        - cpu_cores
        - -cpu_cores
        - hostname
        - -hostname
        - ipv6_hostname
        - -ipv6_hostname
        - ipv4_address
        - -ipv4_address
        - ipv6_address
        - -ipv6_address
        - zone_code
        - -zone_code
        - ipv4_ptr
        - -ipv4_ptr
        - ipv6_ptr
        - -ipv6_ptr
        type: string
      style: form
    NfsServerSortOrder:
      description: "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* サービスコード昇順: sort=service_code\n\
        * サービスコード降順: sort=-service_code"
      explode: true
      in: query
      name: sort
      required: false
      schema:
        enum:
        - service_code
        - -service_code
        - name
        - -name
        - storage_size_gibibytes
        - -storage_size_gibibytes
        - ipv4_address
        - -ipv4_address
        - zone_code
        - -zone_code
        type: string
      style: form
    SwitchSortOrder:
      description: "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* 接続インターフェース数昇順: sort=interfaces_count\n\
        * 接続インターフェース数降順: sort=-interfaces_count"
      explode: true
      in: query
      name: sort
      required: false
      schema:
        enum:
        - name
        - -name
        - zone
        - -zone
        - interfaces_count
        - -interfaces_count
        type: string
      style: form
    SwitchSearch:
      description: 名前と説明文から部分一致検索
      explode: true
      in: query
      name: search
      required: false
      schema:
        type: string
      style: form
    DiscID:
      description: ディスクID
      explode: false
      in: path
      name: disc_id
      required: true
      schema:
        type: integer
      style: simple
    RoleIDPath:
      description: ロールID
      explode: false
      in: path
      name: role_id
      required: true
      schema:
        type: integer
      style: simple
    RoleID:
      description: roleのid。ロールで絞り込む
      explode: true
      in: query
      name: role
      required: false
      schema:
        type: integer
      style: form
    RoleSortOrder:
      description: "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* 名称昇順: sort=name\n* 名称降順\
        : sort=-name"
      explode: true
      in: query
      name: order
      required: false
      schema:
        enum:
        - id
        - -id
        - name
        - -name
        type: string
      style: form
    RoleSearch:
      description: 名前と説明文から部分一致検索
      explode: true
      in: query
      name: search
      required: false
      schema:
        type: string
      style: form
    ApiKeyID:
      description: APIキーID
      explode: false
      in: path
      name: api_key_id
      required: true
      schema:
        type: integer
      style: simple
    ApiKeySortOrder:
      description: "データの並び順。項目名の頭に`-`をつけると降順で取得する  \n例:\n* 名称昇順: sort=name\n* 名称降順\
        : sort=-name"
      explode: true
      in: query
      name: order
      required: false
      schema:
        enum:
        - id
        - -id
        - name
        - -name
        type: string
      style: form
    ApiKeySearch:
      description: 名前から部分一致検索
      explode: true
      in: query
      name: search
      required: false
      schema:
        type: string
      style: form
    Category:
      description: カテゴリーで絞り込む
      example: server
      explode: true
      in: query
      name: category
      required: false
      schema:
        type: string
      style: form
    Code:
      description: コードで絞り込む。カンマ区切りで複数指定可能。
      example: "get-server-list,get-server,put-server"
      explode: true
      in: query
      name: code
      required: false
[...]
